<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVVM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94D03E231E8D012B00A9CACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D03E371E8D012C00A9CACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D03E421E8D012C00A9CACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
